# Cron job to pull and run configuration locally
{{ ansible_pull_schedule }} {{ ansible_pull_user }} ansible-galaxy collection install community.general -p {{ ansible_pull_workdir }}/.ansible/collections/ && ansible-pull -o -d {{ ansible_pull_workdir }} -U {{ ansible_pull_repo_url }} {{ ansible_pull_playbook }} >> {{ ansible_pull_logfile }} 2>&1
